.trash { color:rgb(209, 91, 71); }

.controlbuttons { text-align: right; }

.controlbuttons a { cursor: pointer; }

.manageoptions a { cursor: pointer; }

.admintab { padding-top: 0.5em; }

#searchreviews, #searchquestions { margin: 1em 0em; }
