<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h1>Admin panel</h1>
		<p>Manage and delete users, reviews and questions.</p>
	</div>

	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
		<uib-tabset>
		    <uib-tab heading="All Users">
		    	<ul class="list-group admintab">
				    <li class="list-group-item" ng-repeat="user in users">
				    	<div class="row">
				    		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
						        <strong>{{ user.name }}</strong><br>
						        <span class="text-muted">{{ user.email }}</span>
						    </div>

					        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 controlbuttons">
						        <a href="{{ '/users/'+user._id }}" target="_blank"><span class="glyphicon glyphicon-user"></span></a>
						        <a ng-click="editUser(user)"><span class="glyphicon glyphicon-pencil"></span></a>
						        <a ng-click="editRole(user)"><span class="glyphicon" ng-hide="me._id == user._id" ng-class="{'glyphicon glyphicon-eye-open':(user.role!='admin'),'glyphicon glyphicon-eye-close':(user.role=='admin')}"></span></a>
						        <a ng-hide="me._id == user._id" ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
					    	</div>
				    	</div>
				    </li>
			  	</ul>
			</uib-tab>

		    <uib-tab heading="Manage Reviews">
		    	<div class="admintab">
			    	<div class="panel panel-info" ng-repeat="review in reviews">
					  <div class="panel-heading">
					    <h3 class="panel-title">Rating: <span class="glyphicon glyphicon-star" ng-repeat="star in getStars(review.rating) track by $index"></span><span class="glyphicon glyphicon-star-empty" ng-repeat="emptyStar in getEmptyStars(review.rating) track by $index"></span>
						</h3>
					  </div>

					  <div class="panel-body">
					    {{ review.review }}
					  </div>

					  <div class="panel-footer">
					  	Reviewed by <a href="{{ '/users/'+review.reviewer._id }}">{{ review.reviewer.name }}</a> on {{ review.date | date:'medium' }}
					  	<div class="controlbuttons controlreview">
					    	<a ng-click="editReview(review)"><span class="glyphicon glyphicon-pencil"></span></a>
							<a ng-click="deleteReview(review)"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					  </div>
					</div>
				</div>
		    </uib-tab>

			<uib-tab heading="Manage Questions">
				<div class="admintab">
					<div ng-repeat="question in questions">
				        <div class="question panel panel-default panel-primary">      
				          <div class="panel-heading">
				            <a href="questions/{{ question._id }}">{{ question.title }} by {{ question.author.name }}</a>
				          </div>

				          <div class="panel-body">
				            {{ question.text }} 
				          </div>

				          <div class="panel-footer">
				            <span ng-repeat="tag in question.tags" class="badge">
				              {{ tag }}
				            </span>
				            <div class="controlbuttons controlreview">
						    	<a ng-click="editQuestion(question)"><span class="glyphicon glyphicon-pencil"></span></a>
								<a ng-click="deleteQuestion(question)"><span class="glyphicon glyphicon-trash"></span></a>
							</div>
				          </div>
				        </div>
				    </div>
				</div>
		    </uib-tab>
		</uib-tabset>
	</div>

	<div class="hidden-xs col-sm-2 col-md-4 col-lg-4"></div>
  </div>
</div>