<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h1>Admin panel</h1>
		<p>Manage and delete users, reviews and questions.</p>
	</div>

	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
		<uib-tabset>
		    <uib-tab heading="All Users">
		    	<ul class="list-group admintab">
				    <li class="list-group-item" ng-repeat="user in users">
				    	<div class="row">
				    		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
						        <strong>{{ user.name }}</strong><br>
						        <span class="text-muted">{{ user.email }}</span>
						    </div>

					        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 controlbuttons">
						        <a href="{{ '/users/'+user._id }}" target="_blank"><span class="glyphicon glyphicon-user"></span></a>
						        <a ng-click="editUser(user)"><span class="glyphicon glyphicon-pencil"></span></a>
						        <a ng-click="editRole(user)"><span class="glyphicon" ng-hide="me._id == user._id" ng-class="{'glyphicon glyphicon-eye-open':(user.role!='admin'),'glyphicon glyphicon-eye-close':(user.role=='admin')}"></span></a>
						        <a ng-hide="me._id == user._id" ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
					    	</div>
				    	</div>
				    </li>
			  	</ul>
			</uib-tab>

		    <uib-tab heading="Manage Reviews">
		    	<div class="admintab">
			    	<div class="panel panel-info" ng-repeat="review in reviews">
					  <div class="panel-heading">
					    <h3 class="panel-title">Rating: <span class="glyphicon glyphicon-star" ng-repeat="star in getStars(review.rating) track by $index"></span><span class="glyphicon glyphicon-star-empty" ng-repeat="emptyStar in getEmptyStars(review.rating) track by $index"></span>
						</h3>
					  </div>

					  <div class="panel-body">
					    {{ review.review }}
					  </div>

					  <div class="panel-footer">
					  	Reviewed by <a href="{{ '/users/'+review.reviewer._id }}">{{ review.reviewer.name }}</a> on {{ review.date | date:'medium' }}
					  	<div class="controlbuttons controlreview">
					    	<a ng-click="editReview(review)"><span class="glyphicon glyphicon-pencil"></span></a>
							<a ng-click="deleteReview(review)"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					  </div>
					</div>
				</div>
		    </uib-tab>

			<uib-tab heading="Manage Questions">
				<div class="admintab">
					<div ng-repeat="question in questions">
				        <div class="question panel panel-default panel-primary">      
				          <div class="panel-heading">
				            <a href="questions/{{ question._id }}">{{ question.title }} by {{ question.author.name }}</a>
				          </div>

				          <div class="panel-body">
				            {{ question.text }} 
				          </div>

				          <div class="panel-footer">
				            <span ng-repeat="tag in question.tags" class="badge">
				              {{ tag }}
				            </span>
				            <div class="controlbuttons controlreview">
						    	<a ng-click="editQuestion(question)"><span class="glyphicon glyphicon-pencil"></span></a>
								<a ng-click="deleteQuestion(question)"><span class="glyphicon glyphicon-trash"></span></a>
							</div>
				          </div>
				        </div>
				    </div>
				</div>
		    </uib-tab>
		</uib-tabset>
	</div>

	<div class="hidden-xs col-sm-2 col-md-4 col-lg-4"></div>
  </div>

  <script type="text/ng-template" id="modalEdit.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit User</h3>
    </div>
    <div class="modal-body">
        <div class="row">

		    <div class="col-sm-12">
		      <h4>Change Profile Info</h4>
		    </div>
		    <div class="col-sm-12">
		      <form class="form" name="profileform" novalidate>
		        <div class="form-group">
		          <label>Name</label>

		          <input type="text" name="name" class="form-control" ng-model="userinfo.name"
		                 mongoose-error required/>
		          <p class="help-block" ng-show="profileform.name.$error.required">
		              Name is a required field.
		          </p>
		        </div>

		        <div class="form-group">
		          <label>E-mail</label>

		          <input type="email" name="email" class="form-control" ng-model="userinfo.email"
		                 mongoose-error disabled/>
		        </div>

		        <div class="form-group">
		          <label>Location</label>

		          <input type="text" name="location" class="form-control" ng-model="userinfo.location"
		                 mongoose-error/>
		        </div>

		        <div class="form-group">
		          <label>Description</label>

		          <textarea name="description" class="form-control" ng-model="userinfo.description"
		                 mongoose-error></textarea>
		        </div>

		        <div class="form-group">
		          <label>Skype</label>

		          <input type="text" name="skype" class="form-control" ng-model="userinfo.skype"
		                 mongoose-error/>
		        </div>

		        <div class="form-inline">
		          <label><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Specialist in:</label>
		          <span ng-repeat="area in userinfo.areas">
		            <input type="text" class="form-control" ng-model="area.name" ng-blur="addArea($event)" placeholder="Excel, Word, etc" >
		          </span>
		        </div>
		      </form>
		    </div>

		    <div class="col-sm-12">
		      <h4>Change Password</h4>
		    </div>
		    <div class="col-sm-12">
		      <form class="form" name="passwordform" novalidate>
		    		<div class="form-group">
			          <label>New Password</label>

			          <p ng-show="(userinfo.provider != 'local')">User connected to Digital Educators using Facebook and/or Google+, therefore there is no password to be set.</p>

			          <input type="password" name="newPassword" class="form-control" ng-show="(userinfo.provider == 'local')" ng-model="userinfo.newPassword"
			                 ng-minlength="3">
			          <p class="help-block"
			             ng-show="(passwordform.newPassword.$error.minlength || passwordform.newPassword.$error.required) && (passwordform.newPassword.$dirty || submitted)">
			            Password must be at least 3 characters.
			          </p>
			        </div>
			   </form>
			</div>

		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" type="submit" ng-click="editUser(profileform)">Save changes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="modalRole.html">
    <div class="modal-header">
        <h3 class="modal-title">Change user role/privileges</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to give this person "{{ newrole }}" privileges?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="modalDelete.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete user</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="modalDeleteReview.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete review</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this review?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="modalDeleteQuestion.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete question</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this question?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>