<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div ng-show="isLoggedIn">
    <h1>Tell us, what's your problem? </h1>

    <form name="commentForm" ng-submit="addComment()">
      <div class="form-group">

        <label for="">Problem/Question?</label>
        <textarea type="text" class="form-control" ng-model="newQuestion" placeholder="eg. How to download a youtube video?"></textarea>
      </div>

      <div class="form-group">
        <label for=""><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags:</label>
        <span ng-repeat="tag in tags">
          <input type="text" ng-model="tag.name" ng-blur="addTag($event)">
        </span>
      </div>
      
      <button type="submit" class="btn btn-primary" ng-disabled="questionForm.$invalid">Submit</button>
    </form>
  </div>

  <div ng-hide="isLoggedIn">
    <p>You are not logged in, therefore, you can not create any questions.</p>
  </div>
</div>