<div class="container">
  <div ng-show="isLoggedIn">
    <h1>Tell us, what's your problem? </h1>

    <form name="questionForm" ng-submit="addComment()">

      <div class="form-group">
        <label for="">What is your problem?</label>
        <input type="text" class="form-control" ng-model="title" placeholder="eg. How to download a youtube video?" required>
      </div>

      <div class="form-group">  
        <label for="">Explain your problem/question</label>
        <textarea type="text" class="form-control" ng-model="newQuestion" placeholder="I've been trying to download a specific youtube video for a certain time, but I can't..." required></textarea>
      </div>

      <div class="form-group">
        <label for=""><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags:</label>
        <span ng-repeat="tag in tags">
          <input type="text" ng-model="tag.name" ng-blur="addTag($event)" placeholder="Excel, Word, etc" >
        </span>
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="questionForm.$invalid">Submit</button>
    </form>
  </div>

  <div ng-hide="isLoggedIn">
    <p>You are not logged in, therefore, you can not create any questions.</p>
  </div>
</div>