<div class="container">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Questions</h1>
    </div>
        
    <div class="row">
      <div class="col-xs-12">
        <form id="searchQuestions" class="form-inline">
            <div class="form-group">
                <label>Search for areas: </label>
                <input type="text" class="form-control"
                 placeholder="Areas..." ng-model="searchAreas" uib-popover="We have input your areas of expertise by default!" popover-trigger="mouseenter" >
                 <button class="btn btn-primary" ng-click="showAll()">Show all questions</button>
                 <button class="btn btn-default" uib-popover="Show only the questions you are a specialist!" popover-trigger="mouseenter" ng-click="addSpecialties()">Restore my Specialties</button>
            </div>
        </form>
      </div>
    </div>
    <br /><br />

    <div ng-repeat="question in questions | filter:filterAreas ">
      <div class="row">
        <div class="question panel panel-default panel-primary">      
          <div class="panel-heading">
            <a href="questions/{{ question._id }}">{{ question.title }} by {{ question.author.name }}</a>
          </div>

          <div class="panel-body">
            {{ question.text }} 
          </div>

          <div class="panel-footer">
            <span ng-repeat="tag in question.tags" class="badge">
              {{ tag }}
            </span>
          </div>
        </div>
      </div>

      <div class="row" ng-show="isLoggedIn() && !isOwner(question)">
        <div class="col-xs-12">
          Do you think you can help this person? 
          <button class="btn btn-success" ng-hide="hasAlreadyAppliedToHelp(question)" ng-click="applyForHelp(question)">Apply to help</button> <br /><br /><br /><br />
        </div>
      </div>  
    </div>

    <div ng-if="questions.length === 0">
      There are no questions available. <br />

      Would you like to <a href="/createquestions">Ask a question?</a><br /><br />
    </div>    

  </div>
</div>
